extends ../layout/dashboard
block content
  .pusher
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          .ui.fluid.card
            .content
              .ui.right.floated.large.green.labeled.icon.button(onclick='openAddEventView()')
                i.plus.icon
                | Add Event
              .header
                .ui.header
                  | Events
              .meta
                | Manage events
            .content
              table.ui.celled.padded.table
                thead
                  tr
                    th Id
                    th Name
                    th Description
                    th Date
                    th Image 
                    th Faculty
                    th Actions
                tbody
                  each event in events
                    tr
                      td #{event.id}
                      td #{event.name}
                      td #{event.description}
                      td
                        | #{event.start.toLocaleDateString('en-GB')} #{event.start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} 
                        br
                        | #{event.end.toLocaleDateString('en-GB')} #{event.end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}
                      td 
                        img(src=`${event.imageUrl}`)
                      td #{event.faculty.name}
                      td
                        .ui.icon.buttons
                          a.ui.basic.button(href='/dashboard/events/' + event.id + '/edit')
                            i.edit.icon
                          a.ui.basic.button(href='/dashboard/events/' + event.id + '/delete')
                            i.trash.icon

block modal
  .ui.modal
    i.close.icon
    .header
      | Add Event
    .content
      form#addEventForm.ui.form(method='POST')
        .field
          label Event name
          input(type='text' name='name' placeholder='Event name')
        .field
          label Description
          input(type='text' name='description' placeholder='Description')
        .field
          label Start
          input(type='date' name='start' placeholder='Start')
          .field
          label End
          input(type='date' name='end' placeholder='End')
          .field
          label Image
          input(type='text' name='imageUrl' placeholder='Image')
          .field
          label Faculty
          input(type='number' name='facultyId' placeholder='Faculty')
        #addEventErrors.ui.error.message
    .actions
      .ui.black.deny.button
        | Nope
      #addEventButton.ui.positive.right.labeled.icon.button
        | Confirm
        i.checkmark.icon

block scripts
  
  script.
    //open add view
    function openAddEventView(){
      window.location.href = '/dashboard/events/add';
    }

    
