extends ../layout/dashboard

block content
  .pusher
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          .ui.fluid.card
            .content
              .ui.right.floated.large.green.labeled.icon.button(onclick='openAddFacultyModal()')
                i.plus.icon
                | Add Faculty
              .header
                .ui.header
                  | Faculties
              .meta
                | Manage faculties
            .content
              table.ui.celled.padded.table
                thead
                  tr
                    th Id
                    th Name
                    th Actions
                tbody
                  each faculty in faculties
                    tr(data-id= faculty.id)
                      td #{faculty.id}
                      td #{faculty.name}      
                      td   
                        .ui.icon.buttons 
                          .ui.basic.button(onclick=`showEdit(${faculty.id})`)
                            i.edit.icon
                          .ui.basic.button(onclick=`deleteFaculty(${faculty.id})`)
                            i.trash.icon

block modal
  .ui.modal#addFacultyModal
    i.close.icon
    .header
      | Add Faculty
    .content
      form#addFacultyForm.ui.form(method='POST')
        .field
          label Name
          input(type='text' name='name' placeholder='Faculty name')
        #addFacultyErrors.ui.error.message
    .actions
      .ui.black.deny.button
        | Nope
      #addFacultyButton.ui.positive.right.labeled.icon.button
        | Yep, that's me
        i.checkmark.icon 
  .ui.modal#editFacultyModal
    i.close.icon
    .header
      | Edit Faculty
    .content
      form#editFacultyForm.ui.form(method='POST')
        input(type='hidden' name='edit_id' placeholder='Faculty id')
        .field
          label Name
          input(type='text' name='edit_name' placeholder='Faculty name')
        #editFacultyErrors.ui.error.message
    .actions
      .ui.black.deny.button
        | Nope
      #editFacultyButton.ui.positive.right.labeled.icon.button
        | Yep, that's me
        i.checkmark.icon 



block scripts
  script.
    function openAddFacultyModal() {
        $('#addFacultyModal').modal('show');
      }
    function showEdit(id) {
        $.ajax({
            type: "GET",
            url: "/dashboard/faculties/" + id,
            success: function(response) {
                console.log(response);
                $('#editFacultyForm input[name="edit_id"]').val(response.id);
                $('#editFacultyForm input[name="edit_name"]').val(response.name);
                $('#editFacultyModal').modal('show');
            },
            error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#editFacultyErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
    }

    function deleteFaculty(id) {
        $.ajax({
            type: "DELETE",
            url: "/dashboard/faculties/" + id,
            success: function(response) {
                console.log(response);
                iziToast.success({
                    title: 'Success',
                    message: response.message,
                    position: 'topRight'
                });
                const table = $('table.ui.celled.padded.table').DataTable();
                table.row($(`tr[data-id="${id}"]`)).remove().draw(false);
            },
            error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#editFacultyErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
    }


    $(document).ready(function() {
      // init datatable
      $('table.ui.celled.padded.table').DataTable({
        // order id column descending
        order: [[0, 'desc']]
      });
    
      $('#addFacultyButton').click(function(e) {
        e.stopPropagation();
        $.ajax({
          type: 'POST',
          url: '/dashboard/faculties',
          data: {
            name: $('#addFacultyForm input[name="name"]').val(),
          },
          success: function(data) {
            console.log(data);
            iziToast.success({
              title: 'Success',
              message: data.message,
              position: 'topRight'
            });

            const table = $('table.ui.celled.padded.table').DataTable();
            table.row.add([
                data.faculty.id,
                data.faculty.name,
                `
                <div class="ui icon buttons">
                    <a class="ui basic button" href="/dashboard/faculties/${data.faculty.id}/edit"><i class="edit icon"></i></a>
                    <a class="ui basic button" href="/dashboard/faculties/${data.faculty.id}/delete"><i class="trash icon"></i></a>
                </div>
                `
            ]).draw(false);

            // hide modal
            $('.ui.modal').modal('hide');
          },
          error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#addFacultyErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
      });

      $('#editFacultyButton').click(function(e) {
        e.stopPropagation();
        var id = $('#editFacultyForm input[name="edit_id"]').val();
        $.ajax({
          type: 'POST',
          url: '/dashboard/faculties/' + id,
          data: {
            name: $('#editFacultyForm input[name="edit_name"]').val(),
          },
          success: function(data) {
            console.log(data);
            iziToast.success({
              title: 'Success',
              message: data.message,
              position: 'topRight'
            });

            const table = $('table.ui.celled.padded.table').DataTable();
            table.row($(`tr[data-id="${data.faculty.id}"]`)).data([
                data.faculty.id,
                data.faculty.name,
                `
                <div class="ui icon buttons">
                    <a class="ui basic button" onclick="showEdit(${data.faculty.id})"><i class="edit icon"></i></a>
                    <a class="ui basic button" href="/dashboard/faculties/${data.faculty.id}/delete"><i class="trash icon"></i></a>
                </div>
                `
            ]).draw(false);

            // hide modal
            $('#editFacultyModal').modal('hide');
          },
          error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#editFacultyErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
      });

    });