extends ../layout/dashboard

block content
  .pusher
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          .ui.fluid.card
            .content
              .ui.right.floated.large.green.labeled.icon.button(onclick='openAddStudentModal()')
                i.plus.icon
                | Add Student
              .header
                .ui.header
                  | Students
              .meta
                | Manage students
            .content
              table.ui.celled.padded.table
                thead
                  tr
                    th Id
                    th Last Name
                    th First Name
                    th Faculty
                    th Role
                    th Actions
                tbody
                  each student in students
                    tr
                      td #{student.id}
                      td #{student.lastName}
                      td #{student.firstName}
                      td #{student.faculty.name}                                         
                      td
                        each role in student.user.roles
                          .ui.label(class= role.role === 'STUDENT' ? 'orange' : 'teal') #{role.role}
                      td
                        .ui.icon.buttons
                          a.ui.basic.button(href='/dashboard/students/' + student.id + '/edit')
                            i.edit.icon
                          a.ui.basic.button(href='/dashboard/students/' + student.id + '/delete')
                            i.trash.icon
block modal
  .ui.modal
    i.close.icon
    .header
      | Add Student
    .content
      form#addStudentForm.ui.form(method='POST')
        .field
          label Username
          input(type='text', name='username', placeholder='Username')
        .field
          label Email
          input(type='email', name='email', placeholder='Email')
        .field
          label Password
          input(type='password', name='password', placeholder='Password') 
        .field
          label Student ID
          input(type='text', name='id', placeholder='Student ID')
        .field
          label Faculty
          select.ui.dropdown(name='facultyId')
            each faculty in faculties
              option(value=faculty.id, key=faculty.id) #{faculty.name}
        .field
          label Last Name 
          input(type='text', name='lastName', placeholder='Last Name')
        .field
          label First Name
          input(type='text', name='firstName', placeholder='First Name')
        #addStudentErrors.ui.error.message
    .actions
      .ui.black.deny.button
        | Nope
      #addStudentButton.ui.positive.right.labeled.icon.button
        | Yep, that's me
        i.checkmark.icon

block scripts
  script.
    function openAddStudentModal() {
      $('.ui.modal').modal('show');
    }

    $(document).ready(function() {
      // init datatable
      $('table.ui.celled.padded.table').DataTable({
        // order id column descending
        order: [[0, 'desc']]
      });


      $('#addStudentButton').click(function(e) {
        e.stopPropagation();
        var selectedOption = $('#addStudentForm select[name="facultyId"]');
        var selectedKey = selectedOption.val();
        $.ajax({
          type: 'POST',
          url: '/dashboard/students',
          data: {
            username: $('#addStudentForm input[name="username"]').val(),
            email: $('#addStudentForm input[name="email"]').val(),
            password: $('#addStudentForm input[name="password"]').val(),
            id: $('#addStudentForm input[name="id"]').val(),
             facultyId: selectedKey,
            lastName: $('#addStudentForm input[name="lastName"]').val(),
            firstName: $('#addStudentForm input[name="firstName"]').val(),
          },
          success: function(data) {
            console.log(data);
            iziToast.success({
              title: 'Success',
              message: data.message,
              position: 'topRight'
            });
            
            // add student to table
            const table = $('table.ui.celled.padded.table').DataTable();
            table.row.add([
              data.student.id,
              data.student.lastName,
              data.student.firstName,
              data.student.faculty.name,
              `<div class="ui label violet">STUDENT</div>`,
              `
              <div class="ui icon buttons">
                 <a class="ui basic button" href="/dashboard/students/${data.student.id}/edit"><i class="edit icon"></i></a>
                 <a class="ui basic button" href="/dashboard/students/${data.student.id}/delete"><i class="trash icon"></i></a>
               </div>
               `
            ]).draw(false);

            // hide modal
            $('.ui.modal').modal('hide');
          },
          error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#addStudentErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
      });
    });