extends ../layout/dashboard

block content
  .pusher
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          .ui.fluid.card
            .content
              .ui.right.floated.large.green.labeled.icon.button(onclick='openAddUserModal()')
                i.plus.icon
                | Add User
              .header
                .ui.header
                  | Users
              .meta
                | Manage users
            .content
              table.ui.celled.padded.table
                thead
                  tr
                    th Id
                    th Username
                    th Email
                    th Role
                    th Actions
                tbody
                  each user in users
                    tr
                      td #{user.id}
                      td #{user.username}
                      td #{user.email}
                      td
                        each role in user.roles
                          .ui.label(class= role.role === 'ADMIN' ? 'violet' : 'teal') #{role.role}
                      td
                        .ui.icon.buttons
                          a.ui.basic.button(href='/dashboard/users/' + user.id + '/edit')
                            i.edit.icon
                          a.ui.basic.button(href='/dashboard/users/' + user.id + '/delete')
                            i.trash.icon

block modal
  .ui.modal
    i.close.icon
    .header
      | Add User
    .content
      form#addUserForm.ui.form(method='POST')
        .field
          label Username
          input(type='text' name='username' placeholder='Username')
        .field
          label Email
          input(type='email' name='email' placeholder='Email')
        .field
          label Password
          input(type='password' name='password' placeholder='Password')
        #addUserErrors.ui.error.message
    .actions
      .ui.black.deny.button
        | Nope
      #addUserButton.ui.positive.right.labeled.icon.button
        | Yep, that's me
        i.checkmark.icon

block scripts
  script.
    function openAddUserModal() {
      $('.ui.modal').modal('show');
    }

    $(document).ready(function() {
      // init datatable
      $('table.ui.celled.padded.table').DataTable({
        // order id column descending
        order: [[0, 'desc']]
      });


      $('#addUserButton').click(function(e) {
        e.stopPropagation();
        $.ajax({
          type: 'POST',
          url: '/dashboard/users',
          data: {
            username: $('#addUserForm input[name="username"]').val(),
            email: $('#addUserForm input[name="email"]').val(),
            password: $('#addUserForm input[name="password"]').val()  
          },
          success: function(data) {
            console.log(data);
            iziToast.success({
              title: 'Success',
              message: data.message,
              position: 'topRight'
            });
            
            // add user to table
            const table = $('table.ui.celled.padded.table').DataTable();
            table.row.add([
              data.user.id,
              data.user.username,
              data.user.email,
              `<div class="ui label violet">ADMIN</div>`,
              `
                <div class="ui icon buttons">
                  <a class="ui basic button" href="/dashboard/users/${data.user.id}/edit"><i class="edit icon"></i></a>
                  <a class="ui basic button" href="/dashboard/users/${data.user.id}/delete"><i class="trash icon"></i></a>
                </div>
              `
            ]).draw(false);

            // hide modal
            $('.ui.modal').modal('hide');
          },
          error: function(data) {
            console.log(data);
            const errors = data.responseJSON.errors;
            const errorList = $('#addUserErrors');
            errorList.empty();
            errors.forEach(function(error) {
              errorList.append(`<li>${error.msg}</li>`);
            });
            errorList.show();
          }
        });
      });
    });