extends ../layout/main

block content 
  .pusher(style='margin-top: 50px;')
    .main-content
      .ui.grid.stackable.padded
        .ui.container-fluid.column
          .ui.link.cards
            each event in events
              .card(style='width: 300px;')
                a(href=`/certificates/${event.id}`)
                  .image
                    img(src=`${event.imageUrl}` alt='logo' class='ui image fluid')
                  .content 
                    .header
                      h3(style='color: black') #{event.name} 
                    .meta
                      a #{event.faculty.name}
                    .description
                      | #{event.start.toLocaleDateString('en-GB')} #{event.start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})} 
                      br
                      | #{event.end.toLocaleDateString('en-GB')} #{event.end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}
                  .extra.content
                    span.right.floated
                      | #{Math.floor((event.start - new Date()) / 1000 / 60 / 60 / 24)} days left
