extends ../layout/main

block content 
  .pusher(style='margin-top: 50px;')
    .main-content
      .ui.grid.stackable.padded 
        .ui.container-fluid.column
          .ui.fluid.card
            .content
              .ui.main.text.container
                h1.ui.header #{event.name}
                p 
                | Khoa: #{event.faculty.name}
                .ui.right.floated.meta
                  p
                    i.calendar.check.outline.icon 
                    | #{event.start.toLocaleDateString('en-GB')} #{event.start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}
                  p
                    i.calendar.check.outline.icon
                    | #{event.end.toLocaleDateString('en-GB')} #{event.end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}
              .ui.text.container(style='margin-top: 100px;')
                p!= event.description